# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



#firebase.js
// import firebase from "firebase";

// const config = {
//   apiKey: "AIzaSyAAJmhHYH1NPFrIJZDOVlNh2bwwp8tn6KE",
//   authDomain: "my-account-page-2b2ab.firebaseapp.com",
//   projectId: "my-account-page-2b2ab",
//   storageBucket: "my-account-page-2b2ab.appspot.com",
//   messagingSenderId: "175116833998",
//   appId: "1:175116833998:web:5820627ea049d1c1f62c9f"
// };
// firebase.initialzeApp(config);
// export default firebase;




