* {
  box-sizing: border-box;
  }
html,
body {
  height: auto;
}
#root {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width:100%;
}
.__main {
  border: 20px solid #2B3856;
  max-width: 100%;
  margin: auto;
  background-color: #fff;
  /* min-height: 100vh; */
  /* width: 100%; */
  display: grid;

  /* grid-template-rows: 150px 100px 200px 60px; */
  grid-template-columns:22% 77%;
  grid-gap:1em;

 }
.div1{
  background: #fff;
   grid-row: 1/4;



}

.div2{
  /* background: pink; */
  margin-top: 10px;
    grid-auto-rows: minmax(100px,400px);

  /* border: 1px solid black; */
  /* grid-column: 2/4; */
}
.div3{
  background: blue;
  /* grid-column: 2/3; */
}

.div4{
  background: yellow;
  /* grid-column: 3/4; */
    border: #333 1px solid;

}
.div5{
  background: yellow;
  border: #333 1px solid;
}
.nested{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 30px;
  /* height: 60vh; */
}